<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading"><i class="fa fa-users"></i>&nbsp;&nbsp;Users Panel</div>
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th class="text-center">Edit</th>
            <th class="text-center">Deletes</th>
            <th>TEST</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users" attr.id={{user._id}} >
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td class="text-center">
              <a class="btn btn-default btn-xs">
                  <i class="glyphicon glyphicon-pencil"></i>
              </a>
            </td>
            <td class="text-center">
              <form action="#">
                <a class="btn btn-danger btn-xs" (click) = "deleteUser(user._id)">
                  <i class="glyphicon glyphicon-trash"></i>
                </a>
              </form>
            </td>
            <td><a (click)="testFunction()">TEST</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
